<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>

    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <h1 class="title-pen"> Google Profile <span>login</span></h1>
<div class="user-profile">
	<img class="avatar" src="<%= user.picture %>" alt="Ash" />
    <div class="username"><%= user.name %></div>
  <div class="bio">
    <%= user.email %>
  </div>
    <div class="description">
     Google 로그인 성공적으로 했습니다
  </div>
  <ul class="data">
    <li>
      <span class="entypo-heart"> 127</span>
    </li>
    <li>
      <span class="entypo-eye"> 853</span>
    </li>
    <li>
      <span class="entypo-user"> 311</span>
    </li>
 </ul>
</div>
  <footer>
    <h1><a href="/logout">Sign Out</a></h1>
  </footer>
</body>
</html>

